html  
    head
        title= title
    body
        div
            header
                h1 Timestamp App
                h3 Instructions
            main
                h4 Welcome to the Timestamp App!
                p Use these URL formats to get time in JSON:
                ul
                    li #{fullUrl}/May%2020,%202016
                    li #{fullUrl}/1430137666
            